
body{
    background-color: rgba(219, 215, 215, 0.959);
    background-image: url('https://img.freepik.com/free-vector/vector-social-contact-seamless-pattern-white-blue_1284-41919.jpg?t=st=1735297770~exp=1735301370~hmac=06d74c1e9990e90e35d95dc19e65c2eecddcef28224f483bef05a62c66496c5d&w=740');
}
.input-box{
    margin-top: 75px;
    text-align: center;
    padding: 30px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
}
input{

    width: 100%;
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: azure;;
    border-radius: 10px;
    cursor: pointer;
}
button{
    width: 80px;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color:#0056b3;;
    color: white;
}
.p1{
    background-color: azure;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(17, 1, 1);
}
.home{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white(25, 134, 29);
}
.homeH2{
    margin: 0;
    background-color: #e7d44a ;
    text-align: center;
    padding: 2px;
}

.messages {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    flex: 1;
    overflow-y: auto; 
    border-radius: 20px;
    padding-bottom: 70px; 
    box-sizing: border-box;
}
.message-box {
    
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    gap: 10px; 
    padding: 10px;
    background-color: #789066; 
    border-top: 1px solid #ccc; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; /* Ensure it stays on top */
}

.message-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #1a1313;
    border-radius: 5px;
}
.message-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-box button:hover {
    background-color: #0056b3;
}
.current-user {
    align-self: flex-end; /* Aligns the message to the right */
    background-color: #18ce3a; 
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
    text-align: right; 
    max-width: 70%; 

}

.other-user {
    align-self: flex-start; 
    background-color: #080808; 
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
    text-align: left;
    max-width: 70%; 
    color: #ccc;
    
}
